.navbar{
    width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: rgb(177, 27, 27);
    border-bottom: 0px solid rgb(29, 228, 228);
    font-weight: lighter;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 45) 0px 0px 0px 0px;
    position: relative;
    

.ul {
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
}
}

.ul .li {
    font-size: medium;
    list-style: none;
    margin: 40px;
    cursor: pointer;
}