.navbar{
    width: 100vw;
    height: 100%;
    display: relative;
    align-items: center;
    border-bottom: 0px solid rgb(228, 29, 29);
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 45) 0px 0px 0px 0px;
    position: relative;
    

.ul {
    display: flex;
    flex-direction: row;
    margin: 0 0rem;
    justify-content: space-between;
}
}

.ul .li {
    font-size: medium;
    list-style: none;
    margin: 40px;
    cursor: pointer;
}
